{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "plugin:jest/recommended"
  ],
  "plugins": ["flowtype", "flowtype-errors", "jest"],
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "rules": {
    "jest/expect-expect": "warn",
    "no-plusplus": "off",
    "array-callback-return": "off",
    "no-unused-expressions": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "flowtype-errors/show-errors": "error",
    "no-console": "off",
    "semi": ["error", "always"],
    "linebreak-style": "off"
  }
}
