{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype", "flowtype-errors"],
  "env": {
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "flowtype-errors/show-errors": "error",
    "no-console": "off",
    "semi": ["error", "always"],
    "linebreak-style": "off"
  }
}
